/* Стилизация App Component */

@import './src/app/assets/fonts/Montserrat/montserrat';
@import 'Reset';
@import 'index';
@import './src/components/components.scss';

html,
body {
  font-family: 'Montserrat', sans-serif;
  background: $bg-color;
  color: $text-color;
  font-size: 18px;
}
.container {
  display: flex;
}
