/* Обнуление дефолтных стилей */

* {
  padding: 0;
  margin: 0;
  border: 0;

  &,
  &:before,
  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
nav,
footer,
header,
aside {
  display: block;
}
