/* css-переменные */

:root{
  --green-color: #59a417;
  --dark-green-color: #478511;
  --bg-color: #1f1e23;
  --text-color: #ffffff;
  --dark-color: #131215;
  --modal-color: #1F1D1A;
  --error-color: #dc1539;
}