@import '../../../app/assets/styles/index';

/* Стилизация Wrapper Component */

.wrapper {
  padding: 18px 35px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $text-color;
    text-align: center;
  }

  &__title{
    margin-bottom: 20px;
    font-size: 42px;
  }

  &__subtitle{
    font-size: 24px;
    font-style: italic;
    opacity: 0.4;
  }

  @extend %scrollbar;

}