@import '../../../app/assets/styles/index';

/* Стилизация Table Component */

.table {
  width: 100%;

  &__wrapper {
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid $green-color;

    @extend %scrollbar;
  }

  &__title {
    width: 100%;
    text-align: center;
    color: $text-color;
    font-family: inherit;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    thead tr {
      background: $green-color;
      color: $text-color;
      font-weight: 700;
    }

    th,
    td {
      padding: 12px 6px;
      line-height: 24px;
    }

    td img {
      min-width: 18px;
      min-height: 18px;
      max-width: 18px;
      max-height: 18px;
      margin: 0 auto;
      cursor: pointer;
    }

    tbody tr {
      transition: background 0.2s linear;

      &:nth-of-type(even) {
        background: rgb(28, 28, 33);
      }

      &:hover {
        background: $dark-green-color;
      }
    }
  }
}
